@font-face {
    font-family: 'exo';
    src: url(police/exo-variablefont_wght-webfont.woff) format('woff'),
        url('police/exo-variablefont_wght-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'exo';
    font: bold;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #150FB0;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.imnavbar {
    display: flex;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    color: #150FB0;
    font-weight: bolder;
    font-size: 400%;
}

h2 {
    padding: 8px 0px 5px 5px;
    background-color: #E6BD4E;
    border-radius: 5px;
}

h3 {
    background-color: #FFE4A0;
    padding: 7px 0px 4px 8px;
    border-radius: 5px;
}

h4 {
    background-color: #B0B0B0;
    padding: 1px 0 1px 10px;
    border-radius: 5px;
}

h2,
h3,
h4 {
    font-weight: bolder;
}

p {
    font-weight: 600;
    padding: 1px 0 0;
    font-size: 110%;
}

p + p {
    margin: -18px 0 0;
}

.acc {
    font-size: 150%;
    margin: 20px 0 10px
}

body > div > a:first-of-type {
    position: relative;
    right: 10px;
}

#cv {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}

.imnavbar {
    display: flex;
}

.imnavbar > img {
    display: block;
    position: relative;
    top: 35px;
    right: 10px;
}

.imnavbar > p {
    display: block;
    position: relative;
    right: -50px;

}

#tete{
    float: right;
    box-shadow: 2px 2px 0px 0px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.proj {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;
    align-items: center;
}

.proj img {
    display: block;
    flex: 0 1 auto;
    height: auto;
    max-height: 50vh;
    max-width: 80vw;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
